body {
    padding-top: 40px;
    padding-bottom: 40px;
}

form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    form .form-heading, form .checkbox {
        margin-bottom: 10px;
    }

    form .checkbox {
        font-weight: normal;
    }
