footer { text-align: center; }

.list-empty {
    background-color: #FFFFEB;
    border: 1px solid #EDEDE5;
    color: #808080;
    margin-bottom: 15px;
    padding: 4px;
}

.validation-summary-errors {
    background-color: #FDF7F7;
    border-color: #EED3D7;
    border-left: 3px solid #EED3D7;
    margin: 20px 0;
    padding: 12px;
}

.validation-summary-errors ul {
    margin: 0;
    padding: 0;
}

.validation-summary-errors ul li { list-style: none; }

.fa { margin-right: 5px; }

.fa.icon-only { margin-right: 0; }